<mat-toolbar>
    <a mat-icon-button routerLink="/home" aria-hidden="false" aria-label="home" fontIcon="home">
        <mat-icon routerLink="/home" aria-hidden="false" aria-label="home" fontIcon="home"></mat-icon>
    </a>
    <span class="example-spacer"></span>
    <a mat-button routerLink="/home" routerLinkActive="text-light" class="button-spacer text-secondary">Home</a>
    <a mat-button routerLink="/projects" routerLinkActive="text-light" class="button-spacer text-secondary">Projects</a>
    <a mat-button routerLink="/publications" routerLinkActive="text-light" class="button-spacer text-secondary">Publications</a>
    <a mat-button href="https://github.com/thomve" target="_blank" class="button-spacer text-secondary">Github</a>
    <a mat-button href="https://huggingface.co/thomve" target="_blank" class="button-spacer text-secondary">Hugging Face</a>
    <span class="example-spacer"></span>
    <a mat-flat-button routerLink="/contact" routerLinkActive="text-light" class="text-secondary">Contact</a>
</mat-toolbar>
<router-outlet></router-outlet>