<footer class="footer bg-dark">
    <div class="container">
        <div class="footer-content">
            <p>&copy; <span id="currentYear"></span> {{currentYear }} | Design and development by Thomas Veran.</p>
            <div class="footer-icons">
                <a href="https://www.linkedin.com/in/thomas-veran" target="_blank" class="a-green">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://github.com/thomve" target="_blank" class="a-green">
                    <i class="fab fa-github"></i>
                </a>
                <a href="mailto:thomas.veran@gmail.com" class="a-green">
                    <i class="fas fa-envelope"></i>
                </a>
                <a href="https://scholar.google.com/citations?user=V716MfwAAAAJ&hl=fr" target="_blank" class="a-green">
                    <i class="fas fa-graduation-cap"></i>
                </a>
            </div>
        </div>
    </div>
</footer>