.example-card {
    max-width: 400px;
    margin: 15px;
    padding: 15px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.example-card-footer {
    padding: 16px;
}

.example-card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}