<div class="align-items-center default-container">
    <div class="col-lg-8">
        <div class="content">
            <div class="content-left">
                <h2 class="default-topic">A list of personal projects.</h2>
                <div style="display: flex;">
                    <mat-card style="flex: 1 1 auto;" class="example-card" appearance="outlined">
                        <mat-card-header>
                            <mat-card-title>Shiba Inu</mat-card-title>
                            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                            <mat-card-actions>
                                <button mat-button>Github</button>
                            </mat-card-actions>
                        </mat-card-header>
                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                            alt="Photo of a Shiba Inu">
                        <mat-card-content>
                            <p>
                                test
                            </p>
                        </mat-card-content>
                        
                        <mat-card-footer class="example-card-footer">
                            <mat-chip-set aria-label="Chihuahua traits">
                                <mat-chip>LLMs</mat-chip>
                                <mat-chip>Reinforcement Learning</mat-chip>
                                <mat-chip>Post training</mat-chip>
                            </mat-chip-set>
                        </mat-card-footer>
                    </mat-card>
                    <mat-card style="flex: 1 1 auto;" class="example-card" appearance="outlined">
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title>Shiba Inu</mat-card-title>
                            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                            alt="Photo of a Shiba Inu">
                        <mat-card-content>
                            <p>
                                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                                Japan.
                                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                                originally
                                bred for hunting.
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button>Github</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>