<div class="align-items-center default-container">
    <div class="col-lg-8">
        <div class="content">
            <div class="content-left">
                <h2 class="default-topic">About me.</h2>
                <p class="default-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In commodo ac eros in
                    placerat. In ultricies sollicitudin fermentum. Etiam eget nibh varius, elementum turpis sit amet,
                    ornare velit. Cras auctor porta enim, ullamcorper vehicula justo tristique a. Ut eget malesuada
                    nisi. Nam et lectus ac nisi faucibus auctor ut a justo. Aliquam sodales neque vel diam porta, sit
                    amet congue libero vehicula. Nam ac mollis ipsum, eu lacinia quam. Nunc quis euismod urna. Praesent
                    eros dolor, commodo at malesuada ac, fermentum quis diam. Donec sit amet orci sit amet felis cursus
                    rutrum. Nunc lectus velit, ultrices sed elit vel, imperdiet gravida elit. Aenean vitae euismod elit,
                    a lacinia tortor. Aliquam hendrerit feugiat fringilla.</p>

                <p class="default-p">Nullam mollis mauris lacus, et mollis magna congue ac. Phasellus id laoreet ex.
                    Fusce commodo vestibulum tortor, at tempor nisl facilisis ac. Vivamus in turpis ut augue semper
                    bibendum. In rutrum metus tellus, ut rhoncus ipsum mattis nec. Aliquam quis fringilla ante.
                    Phasellus pharetra magna nec gravida porttitor. Aenean quis diam vitae mauris pulvinar tincidunt
                    gravida non arcu. Nunc eget sodales sapien. Donec lobortis quam vel rutrum consequat.</p>

            </div>
        </div>
    </div>
</div>