<div class="align-items-center default-container">
    <div class="col-lg-8">
        <div class="content">
            <div class="content-left">
                <p>
                    <img src="cervin.jpg" alt="Cervin picture" class="profile-picture">
                </p>
                <h2 class="default-topic">About me.</h2>
                <p class="default-p">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed convallis hendrerit pharetra. Nullam
                    vel bibendum lacus, volutpat pellentesque elit. Suspendisse erat ipsum, condimentum sit amet
                    fermentum vitae, gravida sagittis dui. In hac habitasse platea dictumst. In rhoncus, tortor sit amet
                    vehicula mattis, diam augue maximus enim, semper tincidunt elit erat eu velit. Nullam a lacus enim.
                    Pellentesque condimentum metus sapien, at ullamcorper neque facilisis ut. Orci varius natoque
                    penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                </p>
                <p class="default-p">
                    Pellentesque sagittis tortor leo, et scelerisque massa aliquam eget. Nullam aliquam elit nec sem
                    aliquam pretium. Vivamus ultrices justo ut libero rhoncus, eu dignissim odio luctus. Suspendisse
                    hendrerit leo et mi rhoncus semper. Suspendisse eget auctor lorem. Sed condimentum hendrerit elit,
                    id vulputate orci tincidunt ac. Vestibulum iaculis fermentum nibh volutpat feugiat. Nam porta ipsum
                    nibh. Etiam venenatis felis ut dolor tempus, non varius sapien ullamcorper. Duis ut neque maximus
                    lacus blandit dignissim quis vel nisi. Mauris dui odio, rutrum sed gravida et, gravida vel ligula.
                    Praesent ac urna dapibus, tempus leo porta, sodales dui. Nam consequat eros nec nulla iaculis
                    condimentum.</p>
            </div>
        </div>
    </div>
</div>