<div class="align-items-center default-container">
    <div class="col-lg-8">
        <div class="content">
            <div class="content-left">
                <p class="default-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vel rutrum leo, non
                    aliquam nunc. Quisque varius nisi vitae nulla efficitur, vitae tincidunt nulla laoreet. Sed ipsum
                    mauris, congue quis ex vitae, sollicitudin dapibus dolor. Nam condimentum lorem quis libero aliquam,
                    sed semper eros vehicula. Nam rhoncus sed elit at congue. Donec tincidunt malesuada sollicitudin.
                    Donec sapien justo, feugiat sit amet malesuada in, egestas sit amet erat. Proin malesuada tempus ex
                    non sodales. Morbi quis mi quis velit tincidunt condimentum id sed orci. Pellentesque et tellus
                    massa. Ut ligula sapien, venenatis eu lorem sed, sollicitudin vehicula nisi.</p>
                <p class="default-p">Donec vehicula et elit vel convallis. Mauris dui lacus, interdum eget odio at,
                    iaculis feugiat dui. Ut a semper orci. Vestibulum diam quam, lacinia ut felis vitae, sodales
                    dignissim diam. Quisque sed nisl vulputate, condimentum purus nec, porta lorem. Praesent gravida
                    viverra ipsum quis vestibulum. Proin velit ipsum, porta feugiat libero vitae, fermentum interdum
                    risus. Morbi sit amet fringilla ex, gravida iaculis nibh. Aliquam malesuada sollicitudin ante
                    consequat laoreet. Nulla mattis tincidunt elit, a porta enim ullamcorper eu. Suspendisse id
                    hendrerit orci. Vivamus at elit ante. Donec rhoncus ante ac justo malesuada, quis semper ligula
                    rutrum. Etiam vel nibh sed eros auctor euismod in sit amet libero. Curabitur semper gravida massa.
                    Nunc lacinia accumsan luctus.</p>
                <p class="default-p">Nulla a tortor et risus aliquam elementum lacinia sed lacus. Etiam vitae enim sit
                    amet turpis euismod pharetra. Curabitur eget pellentesque nulla, a suscipit felis. Integer pulvinar,
                    felis eget mollis blandit, eros elit ornare magna, eget cursus ex velit quis erat. Nullam sit amet
                    dictum eros. Nam augue mauris, feugiat quis sollicitudin sed, rutrum sodales massa. Proin eget lorem
                    laoreet, ullamcorper massa non, cursus tortor. Praesent lorem tellus, placerat in lectus vitae,
                    consectetur aliquam magna. Quisque laoreet leo fermentum sagittis pellentesque. Ut a vestibulum
                    libero.</p>

            </div>
        </div>
    </div>
</div>