<div class="align-items-center default-container">
    <div class="col-lg-8">
        <div class="content">
            <div class="content-left">
                <h2 class="default-topic">About me.</h2>
                <p class="default-p">My name is Thomas Veran, I'm senior Data Scientist</p>
                <p>
                    <img src="../../assets/cervin.jpg" alt="Cervin picture" class="about-picture">
                </p>

                <p class="default-p">hi</p>
                
            </div>
        </div>
    </div>
</div>